<!DOCTYPE html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>AMAIT</title>
</head>

<body>
  <script src = "{% static 'scripts.js' %}"></script>

  <div id="sidebar">
    <img src="{% static '362.png' %}" class="icon" />
    <hr>
    <form action="/logout/" method="POST">
      {% csrf_token %}
      Current User: <br>
      <ul><li>{{username}}</li></ul>      
      Daily Token Count: <br>
      <ul><li>{{userTokens}}</li></ul> 
      Daily Token Limit: <br>
      <ul><li>{{userLimit}}</li></ul>  


      <input type="submit" value="Logout">
    </form>
    <hr>
    <ul>
      <li><a href="/chat">Chat</a></li>
      <li><a href="/quiz">Quiz</a></li>
      <li><a href="/studyguides">Study Guide</a></li>
      <li><a href="/help">Help</a></li>
      <li><a href="/feedback">Feedback</a></li>
    </ul>
  </div>
  
  <div id="topbar">
    Aircraft Mx AI Tutor
  </div>
  
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>


  
</body>
