{% extends 'base.html'%}
  {% block content %}
    
    <div id="history">
      {% for pair in historyChat %}
        <p>{{username}}: {% for chat in pair %}
          {{ chat }}</p>
        {% endfor %}
      {% endfor %}
      <script>
        var historyDiv = document.getElementById("history");
        historyDiv.scrollTop = historyDiv.scrollHeight;
      </script>
    </div>


    <div id="input">
      <form action="/chat/" method="POST">
        {% csrf_token %}
        <input type="text" name="studentInput" placeholder="Ask you question here" required/>
        <input type="submit" value="Submit" />
      </form>
      {{ error }}
      <p>
        Token Count - Prompt: {{ tokenPrompt }}, Completion: {{ tokenCompletion}}, Total: {{ tokenTotal }}
      </p>
    </div>

    <div id="audio">
      {% if audioResponse %}
      <audio>
        <source src="data:audio/wav;base64,{{ audioResponse }}" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
      {% endif %}
    </div>

  {% endblock %}