{% extends 'base.html'%}
  {% block content %}
    
    <div id="history"></div>

      <script>
        function getChatList() {
          $.ajax({
            type: "GET",
            url: "/get-chat-list/",
            success: function(data) {
              var chatList = data.chat_list;
              var chatListDiv = $('#history');
              chatListDiv.empty();
              $.each(chatList, function(index, item) {
                var question = item.question;
                var response = item.response;
                chatListDiv.append('<p>{{ username }}: ' + question + '</p><p>AI Tutor: ' + response + '</p>');
              });
              chatListDiv.scrollTop(chatListDiv.prop('scrollHeight'));
            }
          });
        }
      
        // Call the getChatList function initially
        $(document).ready(function() {
          getChatList();
        });
      </script>

      <script>
        // Call the getChatList function every 5 seconds
        setInterval(function() {
          getChatList();
        }, 1000);
      </script>


    
  


    <div id="input">
      <form action="/chat/" method="POST">
        {% csrf_token %}
        <input type="text" name="studentInput" placeholder="Ask you question here" required/>
        <input type="submit" value="Submit" />
      </form>
      {{ error }}
      <p>
        Token Count - Prompt: {{ tokenPrompt }}, Completion: {{ tokenCompletion}}, Total: {{ tokenTotal }}
      </p>
    </div>

    <div id="audio">
      {% if audioResponse %}
      <audio autoplay>
        <source src="data:audio/wav;base64,{{ audioResponse }}" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
      {% endif %}
    </div>

  {% endblock %}