<!DOCTYPE html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>AMAIT</title>
</head>

<body>

    <div id="logintopbar">
      Aircraft Mx AI Tutor
    </div>
    <div id="login">
      <img src="{% static '362.png' %}" class="icon"/>
      <form id="login"  action="/login/" method="POST">
          {% csrf_token %}
          
          <input name="username" placeholder="Username">
          <br>
          <input type="password" name="password" placeholder="Password">
          <br>
          <input type="submit" id="submit" value="Login">
      </form>
    </div>

</body>