body {
  background-color: #383838;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#sidebar {
  background-color: #1f1761;
  width: 200px;
  float: left;
  color: #9bbcd1;
  height: 100%;
  position: absolute;
  font-size: 18px;
}

#sidebar .icon {
  width: 200px;
}

ul {
  list-style: none;
}

#topbar {
  margin-left: 200px;
  height: 80px;
  text-align: center;
  background-color: #1f1761;
  color: #9bbcd1;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

#logintopbar {
  height: 80px;
  text-align: center;
  background-color: #1f1761;
  color: #9bbcd1;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

#login {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#login form {
  margin-top: 20px;
}

#content {
  margin-left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 80px);
  background-color: #383838;;
  color: #9bbcd1;
  font-size: 18px;
}

#history {
  height: 75vh;
  overflow: auto;
  padding: 0 25%;
}

#input {
  padding: 0 25%;
}

input[type="text"] {
  width: calc(100% - 120px);
  height: 36px;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #00001b;
  border-radius: 4px;
  font-size: 18px;
  background-color: #9bbcd1 ;
}

input[type="submit"] {
  width: 100px;
  height: 36px;
  background-color: #00001b;
  color: #aaaaaa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}